.noValid{
    border: 1px solid red;
}
.textValid{
    height: 26px;
    margin: 0;
    padding: 4px;
}
.textValidPlus{
    height: 50px;
}
.textValid P,.textValidPlus p{
    margin: 4px;
    color: red;
}
#myForm{
    margin: 25px auto;
    width: 300px;
    background-color: darkgrey;
    padding: 20px;
}
#myForm hr{
    margin: 30px 0;
}
/* #myForm{
    color: white;
} */
#myForm label{
    display: flex;
}
#myForm label span{
    width: 129px;
}
#myForm input,#myForm select{
    width: 169px;
}
#myForm button,#myForm input[type="submit"]{
    width: 230px;
    margin: 15px auto;
    display: block;
    height: 35px;
}
  
   .mark{
      background-color: red;
  }