body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  /* display: block; */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    display: flex;
    flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 10px solid #888;
  width: 60%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  margin-left: auto;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#productsCont{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.modal-content h1{
    margin: 10px auto 20px auto;
}
#prodIn{
    margin: 15px;
    width: 200px;
    height: 300px;
    /* border: 1px solid #f572728a */
}
#productsCont> div>div{
    width: 200px;
    height: 200px;
}
#productsCont> div>div img{
    max-width: 200px;
    max-height: 200px;
}
#productsCont h2,#productsCont h3{
    text-align: center;
}
#productsCont h2{
    margin-bottom : 10px;
}
#productsCont h3{
    margin-top: 10px;
}
#formAdd{
    display: flex;
    flex-direction: column;
    width: 100px;
}
#formAdd label{
    text-align: center;
}
#formAdd input{
    height: 30px;
    width:  30px;
    margin: 0 auto; 
    padding: 10px;
}
#formAdd button{
    margin: 15px auto; 
    height: 50px;
    width: 50px;
    }
    /* .leftContProducts{
        padding: 8px;
    } */
    #prodDitails{
        display: flex;
    }
            .leftContProducts img{
                max-width: 100px;
                max-height: 100px;
                margin: auto;
                }
            .leftContProducts .contImg{
                width: 100px;
                height: 100px;
                display: flex;
                }
.leftContProducts h2,.leftContProducts h3{
    margin: 5px;
 }
 .leftContProducts>div{
     margin: 8px;
 }
 #contProds{
     overflow: auto;
     height: 60%;
     margin: 2px;
 }
 button{
    min-width: 150px;
    margin:  5px;
    border-radius: 5px;
 }
 .leftContProducts>h3,#titel,.leftContProducts> label{
     margin: 15px auto;
     /* display: inline; */
 }
 .leftContProducts> label{
     text-align: center;
     margin: 5px;
 }
 .leftContProducts>hr{
     width: 80%;
 }
 .hiddenMenue{
     min-width: 50px;
     width: 50px;
 }
 .hiddenMenue> *{
     display: none;
 }
 i {
    border: solid black;
    border-width: 0 3px 3px 0;
    /* display: inline-block; */
        padding: 3px;
    margin-left: auto;
    float: right;    
  }
  #closeMenue:hover *{
    border-color: rgb(126, 67, 67);
  }
  #closeMenue{
      margin-right: 15px;
      height: 1px;
      display: block;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  .focus{
      background-color: yellow;
  }
  app-order{
      width: 100%;
  }