<div class="productsCont">
  <!-- <button (click)="popUp=true;">pop</button> -->
    <div *ngIf="this.dataService.productChoice && this.dataService.productChoice.id" id="myModal" class="modal" (click)="onClickModel($event)">
        <!-- Modal content -->
        <div class="modal-content" id="contentModel">
          <span (click)="this.dataService.productChoice=null;" class="close">&times;</span>
          <h1>add product to your cart</h1>
          <div id='productsCont'>
              <div id="prodIn">
                <div>
                <img src="{{httpService.picUrl}}{{this.dataService.productChoice.id}}{{this.dataService.productChoice.picture}}" alt="">
              </div>
                <h2>{{this.dataService.productChoice.name}}</h2>
                <h3>{{this.dataService.productChoice.price}} ₪</h3>
              </div>
              <div id="formAdd">
                <label for="num">units number</label> <input type="number" [(ngModel)]="numProducts">
                <button (click)="addProduct()">ADD</button>
              </div>
            </div>
        </div>
      
      </div>
      <div class="leftContProducts" [class.hiddenMenue]="hiddenProp">
          <p id="closeMenue" (click)="hiddenProp=!hiddenProp"><i [className]="hiddenProp?'right':'left'"></i><i [className]="hiddenProp?'right':'left'"></i></p>
          <h2 id="titel">My Cart</h2>
          <hr>
          <label>Search product<input type="text" (keyup)='onSearch($event)'></label>
    <div id="contProds">
    <div *ngFor="let product of dataService.detailsCart">
        <span [hidden]="!marketSwitch"  class="close" (click)="deliteProduct(product.itemId)">&times;</span>
        <div id="prodDitails">
      <div class="contImg"><img src="{{httpService.picUrl}}{{product.id}}{{product.picture}}" alt=""></div>
      <div>
      <h2 [class.focus]="product.focus">{{product.name}}
          
      </h2>
      <h3>Units: {{product.units}}</h3>
      <h3>Price: {{product.price_sum | number }}₪</h3>
    </div>
  </div>
    </div>
  </div>
  <h3>Total: {{sumOrders|number}} ₪</h3>
  <button [hidden]="!marketSwitch" (click)="marketSwitch=!marketSwitch">Order</button>
  <button [hidden]="marketSwitch" (click)="marketSwitch=!marketSwitch">Back to shop</button>
  <button [hidden]="!marketSwitch"  (click)="deleteAllOrder()">Delete All</button>
  </div>
  
  <app-products [hidden]="!marketSwitch"></app-products>
  <app-order [hidden]="marketSwitch"></app-order>
</div>
