.header {
    display: flex;
    /* flex-wrap: nowrap; */
    background: #444343;
    overflow: hidden;
    margin: 0em auto;
    /* width: 80%; */
}
#logo{
    padding: 20px;
}
h1{
    font-weight: 700;
}
#logo a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
}
#contact{
    /* text-align: right; */
    color: #FFF;
    /* right: 0; */
    margin-left: auto;
    margin-right: 15px;
}
#helow{
    margin-top: 15px;
    color: rgb(88, 166, 218);
    font-size: 1.5em ;
}
#footer{
    display: flex;
    flex-direction: column;
}
#footer h3{
    color: white; 
    margin: 10px auto;
}
#footer h3 span{
    font-size: 1.2em;
    margin: 0 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}