<!--The content below is only a placeholder and can be replaced.-->

	<div class="header">
		<div id="logo">
			<h1><a href="#">Super Market Crazy</a></h1>
    </div>
    <div  id='contact'><p>contact us in:</p><p>phone: 02-586-9999</p><p>email: suport@crazysupermarket.com</p>
      <p id="helow">helow {{nameOfUser}}</p>
    </div>
    
  </div>
  
    <router-outlet></router-outlet>
  
  <div class="header" id="footer">
<h3 *ngIf='numItems!==undefined'>In our web store <span>{{numItems}}</span> product to sale</h3>
<h3 *ngIf='numOrders!==undefined'>In our web store invited <span>{{numOrders}}</span> orders</h3>
<h3>we are make delivery to any place </h3>
  </div>

