<form [formGroup]="profileForm" id="myForm" (submit)="onSubmit()">
  <div  formGroupName="firstForm" [hidden]="!firstSwitch">
    <h2>register  ---   STEP 1</h2>
    <hr>
  <label><span> ID</span><input type="number" formControlName="id" required [class.noValid]="firstForm.id.invalid &&( firstForm.id.touched || triedFirst)"></label>
  <div class="textValid"><p *ngIf="firstForm.id.invalid &&( firstForm.id.touched || triedFirst)" >this field is required!!</p></div>
  <label><span>email</span><input type="email" formControlName="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [class.noValid]="firstForm.email.invalid &&( firstForm.email.touched || triedFirst)"></label>
  <div class="textValid">
    <span *ngIf="firstForm.email.invalid &&( firstForm.email.touched || triedFirst)">
  <p *ngIf="firstForm.email.errors.required">this field is required2!!</p>
  <p *ngIf="firstForm.email.errors.pattern">enter normal email adress!!</p>
</span>
</div>
  <label><span>password</span><input type="password" formControlName="password" required [class.noValid]="firstForm.password.invalid &&( firstForm.password.touched || triedFirst)"></label>
  <div class="textValid"><p *ngIf="firstForm.password.invalid &&( firstForm.password.touched || triedFirst)">this field is required!!</p></div>
  <label><span>confirm password</span><input type="password" formControlName="confirmPassword" required [class.noValid]="firstForm.confirmPassword.invalid &&( firstForm.confirmPassword.touched || triedFirst)"></label>
  <div class="textValid"><p *ngIf="firstForm.confirmPassword.invalid &&( firstForm.confirmPassword.touched || triedFirst)">this field is required!!</p></div>
  <button (click)="next()">next</button>
</div>

  <div  formGroupName="secForm"  [hidden]="firstSwitch">
      <h2>register  ---   STEP 2</h2>
      <hr>
  <label><span>city</span><input type="text" formControlName="city" required  [class.noValid]="secForm.city.invalid &&( secForm.city.touched || triedsec)"></label>
  <div class="textValid"><p *ngIf="secForm.city.invalid &&( secForm.city.touched || triedsec)">this field is required!!</p></div>
  <label><span>street</span><input type="text" formControlName="street" required [class.noValid]="secForm.street.invalid &&( secForm.street.touched || triedsec)"></label>
  <div class="textValid"><p *ngIf="secForm.street.invalid &&( secForm.street.touched || triedsec)">this field is required!!</p></div>
  <label><span>first Name</span><input type="text" formControlName="firstName" required [class.noValid]="secForm.firstName.invalid &&( secForm.firstName.touched || triedsec)"></label>
  <div class="textValid"><p *ngIf="secForm.firstName.invalid &&( secForm.firstName.touched || triedsec)">this field is required!!</p></div>
  <label><span>last Name</span><input type="text" formControlName="lastName" required [class.noValid]="secForm.lastName.invalid &&( secForm.lastName.touched || triedsec)"></label>
  <div class="textValid"><p *ngIf="secForm.lastName.invalid &&( secForm.lastName.touched || triedsec)">this field is required!!</p></div>
  <input type="submit" value="register">
</div>
</form>
